<!--
Danielle Taplin
contact.component.html
1/25/2024
 -->
 <div fxLayout="column" class="blue">
	<h1 class="yellow">Contact Us</h1>

	<mat-card class="contact">
		<mat-card-content>
			<p>
				<i class="material-icons md-">phone</i><br />
				111 ABC Ave<br />
				Omaha<br />
				Nebraska, 12345
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="contact">
		<mat-card-content>
			<p>
				<i class="material-icons md-">email</i><br />
				- Direct: 555-555-5555 <br />
				- Toll-Free: 5-555-555-5555<br />
				- Fax: 555-555-555
			</p>
		</mat-card-content>
	</mat-card>
</div>
