
/**
 * Title: signin.component.css
 * Author: Danielle Taplin
 * Date: 1/20/24
 */
.card-title {
  color: #946b2d;
  background-color: #223164;
  font-family: 'Montserrat', sans-serif;
}
.card-body {
  font-family: 'Montserrat', sans-serif;
}
.text-dark {
  font-family: 'Montserrat', sans-serif;
}
.btn-dark {
  color: #946b2d;
  background-color: #223164;
}